html {
  font: normal 1.25em/1.5 Georgia, "Times New Roman", Times, serif;
  color: #32302b;
  background-color: #fff;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  margin: 0;
}



/**
 * Lists
 */
li > ul,
li > ol {
    margin-bottom: 0;
}

dt {
  font-weight: bold;
}



/**
 * Quotations
 */
blockquote {
  border-left: 4px solid #e00000;
  margin-left: -0.75rem;
  padding-left: 0.75rem;
  font-style: italic;
}

blockquote > :last-child {
  margin-bottom: 0;
}

.source {
  font-style: normal;
}



/**
 * Inline elements
 */
q {
  font-style: italic;
}



/**
 * Links
 */
a {
  color: #e00000;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #940000;
}



/**
 * Code
 */
pre, code, kbd, samp {
  font-family: Consolas, Courier New, Courier, monospace;
}

code {
  white-space: nowrap;
}

pre {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  color: #fff;
  background-color: #444;
  padding: 0.5rem 0.75rem;
  border-radius: 3px;
}

pre > code {
  font-size: 16px;
  color: #fff;
  white-space: pre;
}
