---
layout: _includes/base.liquid
---
{% for post in collections[collection_name] reversed %}
	{% assign post_index = forloop.index0 %}

	<article class="post">
		{% if post.data.images %}
			<h2>{{ post.data.title }}</h2>

			{% include '_includes/image-gallery', images: post.data.images, title: post.data.title, post_index: post_index %}
		{% else %}
			{{ post.templateContent }}
		{% endif %}
	</article>
{% endfor %}
