.page-content {
    @include vertical-gap(top);
    padding-right: $base-spacing-unit/2;
    padding-left: $base-spacing-unit/2;
}

.post {
    text-align: center;
    @include vertical-gap(bottom);
}
