.site-logo {
    display: table;
    margin-right: auto;
    margin-left: auto;

    @include media-query(lap-and-up) {
        display: inline-block;
        margin-right: 0;
        margin-left: $base-spacing-unit*2;
    }
}
