*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  overflow-y: scroll;
  margin: 0;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

main {
  display: block;
  max-width: 800px;
  margin: 9rem auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

:focus {
  outline: 2px solid var(--accent-color);
}

a {
  color: currentColor;
}

a:hover,
a:active {
  color: var(--accent-color-dark);
}

h1, h2, h3, h4, h5, h6, p, blockquote, ul, figure {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

img {
  font-style: italic;
  max-width: 100%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  margin-top: 1.5rem;
  font-size: 16px;
}

blockquote {
  border-left: 4px solid var(--accent-color);
  margin-left: 0.75rem;
  padding-left: 0.75rem;
  font-style: italic;
}

blockquote > :last-child {
  margin-bottom: 0;
}

button {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  font: inherit;
}

button:disabled {
  color: var(--text-color-disabled);
}
