*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: var(--font-size-60);
	line-height: var(--line-height-text);
	font-family: var(--font-family-text);
	color: var(--c-grey-20);
	background-color: var(--background-color);
}

main {
	display: block;
	max-inline-size: 1000px;
	margin: var(--space-140) auto;
	padding-inline: var(--space-50);
}

:focus {
	outline: var(--width-border-10) solid var(--c-black);
}

a {
	color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
figure {
	margin-block-start: 0;
	margin-block-end: var(--space-80);
}

img {
	font-style: italic;
	max-inline-size: 100%;
	block-size: auto;
}

img,
svg {
	display: block;
}

figcaption {
	margin-block-start: var(--space-80);
	font-size: var(--font-size-40);
}

blockquote {
	border-inline-start: var(--width-border-20) solid currentColor;
	margin-inline-start: var(--space-50);
	padding-inline-start: var(--space-50);
	font-style: italic;
}

blockquote> :last-child {
	margin-block-end: 0;
}

button {
	--_button-text-color: var(--c-white);
	--_button-background-color: var(--c-black);
	--_button-border-color: transparent;

	appearance: none;
	margin: 0;
	padding: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	inline-size: var(--icon-size-120);
	aspect-ratio: 1/1;
	border: var(--width-border-10) var(--_button-border-color);
	border-radius: 50%;
	color: var(--_button-text-color);
	background-color: var(--_button-background-color);
	font: inherit;
}

button:disabled {
	--_button-text-color: var(--c-grey-10);
}

button:enabled:hover {
	--_button-text-color: var(--c-black);
	--_button-background-color: var(--c-white);
}

button:focus {
	outline: none;
	--_button-border-color: var(--c-white);
}

button:focus:enabled:hover {
	--_button-border-color: var(--c-black);
}
