*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	overflow-y: scroll;
	margin: 0;
	font-size: var(--font-size-60);
	line-height: var(--line-height-text);
	font-family: var(--font-family-text);
	color: var(--c-grey-20);
	background-color: var(--background-color);
}

main {
	display: block;
	max-width: 1000px;
	margin: var(--space-140) auto;
	padding-right: var(--space-50);
	padding-left: var(--space-50);
}

:focus {
	outline: var(--width-border-10) solid var(--c-black);
}

a {
	color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
figure {
	margin-top: 0;
	margin-bottom: var(--space-80);
}

img {
	font-style: italic;
	max-width: 100%;
	height: auto;
}

img,
svg {
	vertical-align: middle;
}

figure>img {
	display: block;
}

figcaption {
	margin-top: var(--space-80);
	font-size: var(--font-size-40);
}

blockquote {
	border-left: var(--width-border-20) solid currentColor;
	margin-left: var(--space-50);
	padding-left: var(--space-50);
	font-style: italic;
}

blockquote> :last-child {
	margin-bottom: 0;
}

button {
	--_button-text-color: var(--c-white);
	--_button-background-color: var(--c-black);
	--_button-border-color: transparent;

	appearance: none;
	margin: 0;
	padding: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: var(--icon-size-120);
	height: var(--icon-size-120);
	border: var(--width-border-10) dashed var(--_button-border-color);
	border-radius: 50%;
	color: var(--_button-text-color);
	background-color: var(--_button-background-color);
	font: inherit;
}

button:disabled {
	--_button-text-color: var(--c-grey-10);
}

button:focus {
	outline: none;
	--_button-border-color: var(--c-black);
}

button:enabled:hover {
	--_button-text-color: var(--c-black);
	--_button-background-color: var(--c-white);
}
