.button {
	--text-color: #fff;
	--background-color: #000;

	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	border: 2px dashed transparent;
	border-radius: 50%;
	color: var(--text-color);
	background-color: var(--background-color);
}

.button:focus {
	outline: none;
	border-color: var(--focus-color);
}

.button:enabled:hover {
	--text-color: #000;
	--background-color: #fff;
}
