@media (min-width: 1000px) {
  .gallery {
    position: relative;
  }
}

.gallery--is-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  color: #fff;
  background-color: hsl(0 0% 0% / 0.95);
}

@media (max-width: 999.98px) {
  .gallery--is-overlay {
    display: grid;
    grid-template-rows: 1fr min-content;
  }
}

.gallery-close-overlay-button {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
}

.gallery:not(.gallery--is-overlay) .gallery-close-overlay-button {
  display: none;
}

.gallery-scroll-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  align-items: stretch;
}

.gallery-scroll-container:focus {
  outline: 1px dashed #000;
  outline-offset: -2px;
}

.gallery--is-overlay .gallery-scroll-container:focus {
  outline-color: #fff;
}

.gallery-scroll-container__item {
  scroll-snap-align: center;
  flex-basis: 100%;
  flex-shrink: 0;
}

.gallery-toggle-overlay-button {
  display: block;
  width: 100%;
  height: 100%;
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  font: inherit;
}

.gallery-toggle-overlay-button:focus {
  outline: 1px dashed #000;
  outline-offset: -2px;
}

.gallery--is-overlay .gallery-toggle-overlay-button:focus {
  outline-color: #fff;
}

.gallery-item {
  max-height: 100%;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0.75rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-item__image {
  min-height: 0;
}

.gallery:not(.gallery--is-overlay) .gallery-item__image {
  max-height: 680px;
}

body.js-disabled .gallery-controls {
  display: none;
}

@media (max-width: 999.98px) {
  .gallery-controls {
    margin-top: 0.75rem;
    display: inline-flex;
    align-items: center;
    justify-self: center;
  }

  .gallery--is-overlay .gallery-controls {
    justify-self: center;
    margin-bottom: 0.75rem;
  }

  .gallery-controls > :not(:first-child) {
    margin-left: 1.5rem;
  }
}

.gallery-controls__button {
  color: inherit;
  background-color: transparent;
}

.gallery-controls__button:disabled {
  color: var(--text-color-disabled);
}

.gallery-controls__button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--focus-color);
}

.gallery:not(.gallery--is-overlay) .gallery-controls__button:enabled:hover {
  color: #fff;
  background-color: #000;
}

.gallery--is-overlay .gallery-controls__button:enabled:hover {
  color: #000;
  background-color: #fff;
}

.gallery-controls__icon {
  flex-shrink: 0;
}

@media (min-width: 1000px) {
  .gallery-controls {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .gallery-controls__button {
    pointer-events: all;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .gallery:not(.gallery--is-overlay) .gallery-controls__prev-button {
    right: calc(100% + 0.75rem);
  }

  .gallery:not(.gallery--is-overlay) .gallery-controls__next-button {
    left: calc(100% + 0.75rem);
  }

  .gallery--is-overlay .gallery-controls__prev-button {
    left: 0.75rem;
  }

  .gallery--is-overlay .gallery-controls__next-button {
    right: 0.75rem;
  }
}
