.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border: 2px dashed transparent;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
}

.button:focus {
  outline: none;
  border-color: var(--accent-color);
}

.button:enabled:hover {
  color: #000;
  background-color: #fff;
}
