:where(image-gallery[data-js-disabled]) button {
	display: none !important;
}

image-gallery {
	--focus-color: #000;

	container-name: image-gallery;
	container-type: inline-size;
	position: relative;
	display: grid;
	grid-template-columns: min-content repeat(2, minmax(0, 1fr)) min-content;
	gap: 0.75rem;
	align-items: center;
	color: var(--text-color);
	background-color: var(--background-color);
}

image-gallery:where([data-is-overlay-open]) {
	--text-color: #fff;
	--background-color: hsl(0 0% 0% / 0.95);
	--focus-color: #fff;

	position: fixed;
	z-index: 1;
	inset: 0;
	padding: 0 0.75rem;
}

:where(image-gallery) .button {
	--text-color: inherit;
	--background-color: transparent;
}

:where(image-gallery:not([data-is-overlay-open])) .button:enabled:hover {
	--text-color: #fff;
	--background-color: #000;
}

.ig-open-overlay-button {
	position: absolute;
	right: 0;
	top: 0;
}

:where(image-gallery:not(:hover)) .ig-open-overlay-button:where(:not(:focus)),
:where(image-gallery[data-is-overlay-open]) .ig-open-overlay-button {
	/* Use opacity to visually hide the button while allowing it to still be focused by the user. */
	opacity: 0 !important;
}

.ig-close-overlay-button {
	position: absolute;
	right: 0.75rem;
	top: 0.75rem;
}

:where(image-gallery:not([data-is-overlay-open])) .ig-close-overlay-button {
	display: none !important;
}

.ig-scroll-container {
	overflow-x: auto;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	width: 100%;
	max-height: 100%;
	display: flex;
	align-items: stretch;
}

@container image-gallery (inline-size < 800px) {
	.ig-scroll-container {
		grid-column: 1 / -1;
		grid-row-start: 1;
	}
}

@container image-gallery (inline-size >=800px) {
	.ig-scroll-container {
		grid-column: 2 / span 2;
		grid-row-start: 1;
	}
}

.ig-scroll-container:focus {
	outline-offset: -2px;
}

image-gallery-item {
	scroll-snap-align: center;
	flex-basis: 100%;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ig-figure {
	max-height: 100%;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	padding: 0.75rem;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ig-figure>img {
	min-height: 0;
}

:where(image-gallery:not([data-is-overlay-open]) .ig-figure) img {
	max-height: 680px;
}

.ig-previous-button>svg {
	/* Visually center the chevron icon */
	transform: translateX(-2px);
}

.ig-next-button>svg {
	/* Visually center the chevron icon */
	transform: translateX(2px);
}

@container image-gallery (inline-size < 800px) {
	.ig-previous-button {
		justify-self: flex-end;
		grid-column: 1 / span 2;
		grid-row-start: 2;
	}

	.ig-next-button {
		justify-self: flex-start;
		grid-column: 3 / span 2;
		grid-row-start: 2;
	}
}

@container image-gallery (inline-size >=800px) {
	.ig-previous-button {
		grid-column-start: 1;
		grid-row-start: 1;
	}

	.ig-next-button {
		grid-column-start: 4;
		grid-row-start: 1;
	}
}
