.nav {
	--nav-z-index-backdrop: 100;
	--nav-z-index-content: 101;
}

:where(.nav-toggle-button) .tb-button {
	inline-size: var(--icon-size-90);
	aspect-ratio: 1/1;
}

/* Extends the toggle button's click target across the whole page so that clicking anywhere activates it and thus closes the site navigation. */
:where(.nav-toggle-button .tb-button[aria-pressed='true'])::before {
	content: '';
	position: fixed;
	z-index: var(--nav-z-index-backdrop);
	inset: 0;
}

.nav-content {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 1099.98px) {
	:where(.nav:has(.nav-toggle-button[data-js='false'])) .nav-content {
		justify-content: flex-end;
		align-items: center;
	}

	/* Hide the nav while the toggle button isn't pressed but only if JavaScript is enabled. */
	:where(.nav:has(.nav-toggle-button[data-js='true'] .tb-button[aria-pressed='false'])) .nav-content {
		display: none;
	}

	:where(.nav:has(.nav-toggle-button[data-js='true'] .tb-button[aria-pressed='true'])) .nav-content {
		position: absolute;
		z-index: var(--nav-z-index-content);
		inset-block-start: 100%;
		inset-inline-end: 0;
		max-inline-size: 300px;
		padding: var(--space-10);
		flex-direction: column;
		color: var(--c-white);
		background-color: var(--c-grey-30);
	}
}

@media (min-width: 1100px) {

	/* Hide the nav toggle button when we show the entire navigation. */
	.nav-toggle-button {
		display: none;
	}

	.nav-content {
		justify-content: flex-end;
		align-items: center;
	}
}

.nav-item {
	display: block;
	padding: var(--space-40) var(--space-60);
}

.nav-item:focus {
	outline-offset: -2px;
}

.nav-item:hover,
.nav-item:active {
	color: var(--c-black);
	background-color: var(--c-white);
}
