.site-head {
	position: relative;
	padding: var(--space-10) var(--space-50);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--c-white);
	background-color: var(--c-grey-30);
}

.site-head a {
	flex-shrink: 0;
	color: currentColor;
	text-decoration: none;
}

.site-head a:focus {
	outline-color: var(--c-white);
}

.site-nav-toggle-button {
	inline-size: var(--icon-size-90);
	aspect-ratio: 1/1;
}

.site-nav-toggle-button[aria-pressed='false'] .site-nav-toggle-button__close-icon,
.site-nav-toggle-button[aria-pressed='true'] .site-nav-toggle-button__open-icon {
	display: none;
}

/* Extends the toggle button's click target across the whole page so that clicking anywhere activates it and thus closes the site navigation. */
.site-nav-toggle-button[aria-pressed='true']::before {
	content: '';
	position: fixed;
	z-index: 1;
	inset: 0;
}


/* Hides the toggle button in general when JavaScript is disabled because toggling the navigation requires JavaScript. */
:root.js-disabled .site-nav-toggle-button {
	display: none;
}

/* Always hides the toggle button when we can just show the entire navigation. */
@media (min-width: 1100px) {
	.site-nav-toggle-button {
		display: none;
	}
}

.site-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

:root.js-disabled .site-nav {
	flex-wrap: wrap;
}

@media (max-width: 1099.98px) {
	:where(:root:not(.js-disabled)) .site-nav {
		position: absolute;
		z-index: 2;
		top: 100%;
		right: 0;
		max-inline-size: 300px;
		padding: var(--space-10);
		flex-direction: column;
		color: var(--c-white);
		background-color: var(--c-grey-30);
	}

	/*
	Hides the navigation if all the following are true:
	- JavaScript is enabled
	- there isn't enough space
	- the toggle button isn't pressed
	*/
	:where(:root:not(.js-disabled)) .site-nav-toggle-button[aria-pressed='false']+.site-nav {
		display: none;
	}
}

@media (min-width: 1100px) {
	.site-nav {
		align-items: center;
	}
}

.site-nav__item {
	display: block;
	padding: var(--space-40) var(--space-60);
}

.site-nav__item:focus {
	outline-offset: -2px;
}

.site-nav__item:hover,
.site-nav__item:active {
	color: var(--c-black);
	background-color: var(--c-white);
}
