.gallery {
  position: relative;
  z-index: 1;
}

.gallery__scroll-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-height: 680px;
  display: flex;
  align-items: stretch;
}

.gallery__item {
  scroll-snap-align: center;
  flex-basis: 100%;
  flex-shrink: 0;
  margin-bottom: 0;
  padding: 0.75rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery__item img {
  min-height: 0;
}

.gallery-icon {
  flex-shrink: 0;
}

.gallery__controls {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gallery__prev-button,
.gallery__next-button {
  pointer-events: all;
  margin: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.gallery__prev-button:enabled:hover,
.gallery__next-button:enabled:hover {
  color: #fff;
  background-color: #000;
}

.gallery__prev-button {
  right: 100%;
}

.gallery__next-button {
  left: 100%;
}
