:root {
	--space-10: 2px;
	--space-20: 4px;
	--space-30: 6px;
	--space-40: 8px;
	--space-50: 12px;
	--space-60: 16px;
	--space-70: 20px;
	--space-80: 24px;
	--space-90: 32px;
	--space-100: 40px;
	--space-110: 56px;
	--space-120: 64px;
	--space-130: 80px;
	--space-140: 96px;

	--width-border-10: 2px;
	--width-border-20: 4px;

	--icon-size-90: 32px;
	--icon-size-120: 64px;

	--font-size-40: 1rem;
	--font-size-60: 1.25rem;
	--line-height-text: 1.5;
	--font-family-text: Georgia, "Times New Roman", Times, serif;

	--c-white: #fff;
	--c-black: #000;
	--c-grey-10: hsl(0 0% 40%);
	--c-grey-20: hsl(0 0% 18%);
	--c-grey-30: hsl(0 0% 7%);
}
