:root {
  --font-size: 1.25em;
  --line-height: 1.5;
  --font-family: Georgia, "Times New Roman", Times, serif;

  --text-color: hsl(0, 0%, 18%);
  --background-color: #fff;
  --text-color-disabled: hsl(0, 0%, 40%);
  --accent-color: hsl(0, 100%, 44%);
  --accent-color-dark: hsl(0, 100%, 29%);

  --nav-text-color: #fff;
  --nav-background-color: hsl(0, 0%, 7%);
}
